<div class="container fullscreen">
  <div class="row">
    <div class="col mt-5">
      <h2><strong>Decision Details</strong></h2>
    </div>
  </div>

  <div class="row" *ngIf="changedClosed">
    <h3>Routes Closed in Decision vs. Open/Not Included in DEIS Alt C</h3>
  </div>
  <div class="row" *ngIf="changedClosed">
    <table class="table table-striped table-bordered table-responsive-xl">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Route Number</th>
          <th scope="col">Name</th>
          <th scope="col">Ranger District</th>
          <th scope="col">Start MP</th>
          <th scope="col">End MP</th>
          <th scope="col">Length</th>
          <th scope="col">Current Status</th>
          <th scope="col">Decision Status</th>
          <th scope="col">Alt C Status</th>
          <th scope="col">Rec Benefit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let route of changedClosed">
          <td>{{route.RouteNumber}}</td>
          <td><a [routerLink]="['/routes/profile', route.ID]">{{route.Name}}</a></td>
          <td>{{route.AdmRngDist}}</td>
          <td>{{route.TxtBMP}}</td>
          <td>{{route.TxtEMP}}</td>
          <td>{{route.TxtSegMi}}</td>
          <td>{{route.AltAmgt2}}</td>
          <td>{{route.AltFmgt2}}</td>
          <td>{{route.AltCmgt2}}</td>
          <td>{{route.TAPrecRat}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" *ngIf="changedOpen">
    <h3>Routes Open in Decision vs. Closed/Not Included in DEIS Alt C</h3>
  </div>
  <div class="row" *ngIf="changedOpen">
    <table class="table table-striped table-bordered table-responsive-xl">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Route Number</th>
          <th scope="col">Name</th>
          <th scope="col">Ranger District</th>
          <th scope="col">Start MP</th>
          <th scope="col">End MP</th>
          <th scope="col">Length</th>
          <th scope="col">Current Status</th>
          <th scope="col">Decision Status</th>
          <th scope="col">Alt C Status</th>
          <th scope="col">Rec Benefit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let route of changedOpen">
          <td>{{route.RouteNumber}}</td>
          <td><a [routerLink]="['/routes/profile', route.ID]">{{route.Name}}</a></td>
          <td>{{route.AdmRngDist}}</td>
          <td>{{route.TxtBMP}}</td>
          <td>{{route.TxtEMP}}</td>
          <td>{{route.TxtSegMi}}</td>
          <td>{{route.AltAmgt2}}</td>
          <td>{{route.AltFmgt2}}</td>
          <td>{{route.AltCmgt2}}</td>
          <td>{{route.TAPrecRat}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" *ngIf="allChangedRoutes">
    <h3>All Routes Modified in Decision</h3>
  </div>
  <div class="row" *ngIf="allChangedRoutes">
    <table class="table table-striped table-bordered table-responsive-xl">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Route Number</th>
          <th scope="col">Name</th>
          <th scope="col">Ranger District</th>
          <th scope="col">Start MP</th>
          <th scope="col">End MP</th>
          <th scope="col">Length</th>
          <th scope="col">Current Status</th>
          <th scope="col">Decision Action</th>
          <th scope="col">Alt C Action</th>
          <th scope="col">Decision Modification</th>
          <th scope="col">Rec Benefit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let route of allChangedRoutes">
          <td>{{route.RouteNumber}}</td>
          <td><a [routerLink]="['/routes/profile', route.ID]">{{route.Name}}</a></td>
          <td>{{route.AdmRngDist}}</td>
          <td>{{route.TxtBMP}}</td>
          <td>{{route.TxtEMP}}</td>
          <td>{{route.TxtSegMi}}</td>
          <td>{{route.AltAmgt2}}</td>
          <td>{{route.AltF}}</td>
          <td>{{route.AltC}}</td>
          <td>{{route.AltFmod}}</td>
          <td>{{route.TAPrecRat}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" *ngIf="newClosedHighValueRoutes">
    <h3>All New High Value Routes Closed </h3>
  </div>
  <div class="row" *ngIf="newClosedHighValueRoutes">
    <p>Only includes currently open routes longer than 0.1 miles. Shorter routes are mostly being converted to parking areas.</p>
  </div>
  <div class="row" *ngIf="newClosedHighValueRoutes">
    <table class="table table-striped table-bordered table-responsive-xl">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Route Number</th>
          <th scope="col">Name</th>
          <th scope="col">Ranger District</th>
          <th scope="col">Start MP</th>
          <th scope="col">End MP</th>
          <th scope="col">Length</th>
          <th scope="col">Current Status</th>
          <th scope="col">Decision Action</th>
          <th scope="col">Rec Benefit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let route of newClosedHighValueRoutes">
          <td>{{route.RouteNumber}}</td>
          <td><a [routerLink]="['/routes/profile', route.ID]">{{route.Name}}</a></td>
          <td>{{route.AdmRngDist}}</td>
          <td>{{route.TxtBMP}}</td>
          <td>{{route.TxtEMP}}</td>
          <td>{{route.TxtSegMi}}</td>
          <td>{{route.AltAmgt2}}</td>
          <td>{{route.AltF}}</td>
          <td>{{route.TAPrecRat}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" *ngIf="newClosedHighValueRoutesNoTAP">
    <h3>New High Value Routes Closed With No TAP Recommendation </h3>
  </div>
  <div class="row" *ngIf="newClosedHighValueRoutesNoTAP">
    <p>Only includes currently open routes longer than 0.1 miles. Shorter routes are mostly being converted to parking areas.</p>
  </div>
  <div class="row" *ngIf="newClosedHighValueRoutesNoTAP">
    <table class="table table-striped table-bordered table-responsive-xl">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Route Number</th>
          <th scope="col">Name</th>
          <th scope="col">Ranger District</th>
          <th scope="col">Start MP</th>
          <th scope="col">End MP</th>
          <th scope="col">Length</th>
          <th scope="col">Current Status</th>
          <th scope="col">Decision Action</th>
          <th scope="col">Rec Benefit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let route of newClosedHighValueRoutesNoTAP">
          <td>{{route.RouteNumber}}</td>
          <td><a [routerLink]="['/routes/profile', route.ID]">{{route.Name}}</a></td>
          <td>{{route.AdmRngDist}}</td>
          <td>{{route.TxtBMP}}</td>
          <td>{{route.TxtEMP}}</td>
          <td>{{route.TxtSegMi}}</td>
          <td>{{route.AltAmgt2}}</td>
          <td>{{route.AltF}}</td>
          <td>{{route.TAPrecRat}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" *ngIf="tapClosures">
    <h3>New Routes Closed Because of TAP Recommendation</h3>
  </div>
   <div class="row" *ngIf="tapClosures">
    <p>Only includes currently open routes longer than 0.1 miles.</p>
  </div>
  <div class="row" *ngIf="tapClosures">
    <table class="table table-striped table-bordered table-responsive-xl">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Route Number</th>
          <th scope="col">Name</th>
          <th scope="col">Ranger District</th>
          <th scope="col">Start MP</th>
          <th scope="col">End MP</th>
          <th scope="col">Length</th>
          <th scope="col">Current Status</th>
          <th scope="col">Decision Action</th>
          <th scope="col">Rec Benefit</th>
          <th scope="col">TAP Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let route of tapClosures">
          <td>{{route.RouteNumber}}</td>
          <td><a [routerLink]="['/routes/profile', route.ID]">{{route.Name}}</a></td>
          <td>{{route.AdmRngDist}}</td>
          <td>{{route.TxtBMP}}</td>
          <td>{{route.TxtEMP}}</td>
          <td>{{route.TxtSegMi}}</td>
          <td>{{route.AltAmgt2}}</td>
          <td>{{route.AltF}}</td>
          <td>{{route.TAPrecRat}}</td>
          <td>{{route.TAPcmnts}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" *ngIf="highValueClosedRoutes">
    <h3>All High Value Routes Closed (Both Currently Open and Closed)</h3>
  </div>
  <div class="row" *ngIf="highValueClosedRoutes">
    <p>Only includes routes longer than 0.1 miles. Shorter routes are mostly being converted to parking areas.</p>
  </div>
  <div class="row" *ngIf="highValueClosedRoutes">
    <table class="table table-striped table-bordered table-responsive-xl">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Route Number</th>
          <th scope="col">Name</th>
          <th scope="col">Ranger District</th>
          <th scope="col">Start MP</th>
          <th scope="col">End MP</th>
          <th scope="col">Length</th>
          <th scope="col">Current Status</th>
          <th scope="col">Decision Action</th>
          <th scope="col">Rec Benefit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let route of highValueClosedRoutes">
          <td>{{route.RouteNumber}}</td>
          <td><a [routerLink]="['/routes/profile', route.ID]">{{route.Name}}</a></td>
          <td>{{route.AdmRngDist}}</td>
          <td>{{route.TxtBMP}}</td>
          <td>{{route.TxtEMP}}</td>
          <td>{{route.TxtSegMi}}</td>
          <td>{{route.AltAmgt2}}</td>
          <td>{{route.AltF}}</td>
          <td>{{route.TAPrecRat}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" *ngIf="newClosedRoutes">
    <h3>All New Routes Closed (Currently Open)</h3>
  </div>
  <div class="row" *ngIf="newClosedRoutes">
    <table class="table table-striped table-bordered table-responsive-xl">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Route Number</th>
          <th scope="col">Name</th>
          <th scope="col">Ranger District</th>
          <th scope="col">Start MP</th>
          <th scope="col">End MP</th>
          <th scope="col">Length</th>
          <th scope="col">Current Status</th>
          <th scope="col">Decision Action</th>
          <th scope="col">Rec Benefit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let route of newClosedRoutes">
          <td>{{route.RouteNumber}}</td>
          <td><a [routerLink]="['/routes/profile', route.ID]">{{route.Name}}</a></td>
          <td>{{route.AdmRngDist}}</td>
          <td>{{route.TxtBMP}}</td>
          <td>{{route.TxtEMP}}</td>
          <td>{{route.TxtSegMi}}</td>
          <td>{{route.AltAmgt2}}</td>
          <td>{{route.AltF}}</td>
          <td>{{route.TAPrecRat}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" *ngIf="closedConflict">
    <h3>New Routes Closed Possibly Because of Conflict</h3>
  </div>
  <div class="row" *ngIf="highValueClosedRoutes">
    <p>Currently open routes longer than 0.1 miles where the Quiet Use Conflict screening criterion is Yes.</p>
  </div>
  <div class="row" *ngIf="closedConflict">
    <table class="table table-striped table-bordered table-responsive-xl">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Route Number</th>
          <th scope="col">Name</th>
          <th scope="col">Ranger District</th>
          <th scope="col">Start MP</th>
          <th scope="col">End MP</th>
          <th scope="col">Length</th>
          <th scope="col">Current Status</th>
          <th scope="col">Decision Action</th>
          <th scope="col">Rec Benefit</th>
          <th scope="col">Quiet Use Conflict</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let route of closedConflict">
          <td>{{route.RouteNumber}}</td>
          <td><a [routerLink]="['/routes/profile', route.ID]">{{route.Name}}</a></td>
          <td>{{route.AdmRngDist}}</td>
          <td>{{route.TxtBMP}}</td>
          <td>{{route.TxtEMP}}</td>
          <td>{{route.TxtSegMi}}</td>
          <td>{{route.AltAmgt2}}</td>
          <td>{{route.AltF}}</td>
          <td>{{route.TAPrecRat}}</td>
          <td>{{route.QuietUse}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
