<div class="container mt-5">
  <h2><strong>Resources</strong></h2>
  <p>Click the links below to download documents relevant to the travel management process.</p>
  <p>To comment on the travel managment process or view other documents not listed here, visit the main project page on the Forest Service website <a href="https://www.fs.usda.gov/project/?project=48214">here.</a></p>

  <h4>Draft Environmental Impact Statement</h4>
    <ul>
      <li><a href="http://www.fs.usda.gov/nfs/11558/www/nepa/102995_FSPLT3_4839395.pdf">Draft EIS (PDF)</a></li>
      <li><a href="http://www.fs.usda.gov/nfs/11558/www/nepa/102995_FSPLT3_4839396.pdf">DEIS Appendix C (PDF)</a></li>
      <li><a href="/assets/PSINFTravlMan_ScreeningCriteria_AltA.xlsx">No Action Alternative Tabular Data (Excel)</a></li>
      <li><a href="/assets/PSINFTravlMan_ScreeningCriteria_BCDE.xlsx">Action Alternative Tabular Data (Excel)</a></li>
      <li><a href="/assets/FinalPSItravelMgtScopingReport.pdf">Scoping Report</a></li>
    </ul>
  <h4>Alternative Maps</h4>
  <ul>
    <li><a href="http://www.fs.usda.gov/nfs/11558/www/nepa/102995_FSPLT3_4862404.pdf">Alt A Maps</a></li>
    <li><a href="http://www.fs.usda.gov/nfs/11558/www/nepa/102995_FSPLT3_4862406.pdf">Alt B Maps</a></li>
    <li><a href="http://www.fs.usda.gov/nfs/11558/www/nepa/102995_FSPLT3_4862407.pdf">Alt C Maps</a></li>
    <li><a href="http://www.fs.usda.gov/nfs/11558/www/nepa/102995_FSPLT3_4862408.pdf">Alt D Maps</a></li>
    <li><a href="http://www.fs.usda.gov/nfs/11558/www/nepa/102995_FSPLT3_4862409.pdf">Alt E Maps</a></li>
  </ul>
  <h4>Wildcat Canyon Reference Documents</h4>
  <ul>
    <li><a href="/assets/HaymanRoadsEA.pdf">Hayman Roads Environmental Analysis (2004)</a></li>
    <li><a href="/assets/HaymanRoadsFinalDecision.pdf">Hayman Roads Final Decision (2004)</a></li>
    <li><a href="HaymanRoadsSIRFinal.pdf">Hayman Roads Supplimental Information Report (2019)</a></li>
    <li><a href="/assets/McKayWildcatCanyon.pdf">Patrick McKay Wildcat Canyon Comment</a></li>
  </ul>
  <h4>Other Documents</h4>
  <ul>
    <li><a href="/assets/20110825-USDA-SouthRampartTMP.pdf">South Rampart Travel Management Plan (2011)</a></li>
    <li><a href="https://www.fs.usda.gov/detail/psicc/home/?cid=STELPRDB5431955">PSI Travel Analysis Reports</a></li>
  </ul>
</div>
