<div class="container mt-5">
  <h2><strong>Resources</strong></h2>
  <p>Click the links below to download documents relevant to the travel management process.</p>

  <h4>Draft Environmental Impact Statement</h4>
    <ul>
      <li><a href="http://www.fs.usda.gov/nfs/11558/www/nepa/102995_FSPLT3_4839395.pdf">Draft EIS (PDF)</a></li>
      <li><a href="http://www.fs.usda.gov/nfs/11558/www/nepa/102995_FSPLT3_4839396.pdf">Appendix C (PDF)</a></li>
      <li>No Action Alternative Tabular Data (Excel)</li>
      <li>Action Alternative Tabular Data (Excel)</li>
    </ul>
  <h4>Alternative Maps</h4>
</div>
