<div class="container fullscreen">
  <div class="row">
    <div class="col mt-5">
      <h2><strong>Pike San Isabel NF Travel Management Alternatives Summary</strong></h2>
      <p>Click on the routes tab to view a list of all affected routes.</p>
    </div>
  </div>

  <div class="row">
    <h3>Current MVUM Route System Miles</h3>
  </div>
  <div class="row">
    <div class="col-md-5">
      <table class="table table-striped table-bordered table-responsive-xl">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Ranger District</th>
            <th scope="col">Roads</th>
            <th scope="col">Trails</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let district of mvumRoutes.districts | keyvalue">
            <th>{{district.key}}</th>
            <td>{{district.value.totalRoads}}</td>
            <td>{{district.value.totalTrails}}</td>
            <td>{{district.value.totalMiles}}</td>
          </tr>
          <tr>
            <th>All Districts</th>
            <td>{{mvumRoutes.roadMilesStr}}</td>
            <td>{{mvumRoutes.trailMilesStr}}</td>
            <td>{{mvumRoutes.systemMilesStr}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <h3>Alt C Open Route System Miles</h3>
  </div>
  <div class="row">
    <p>(Uses current road/trail type, not considering conversions)</p>
  </div>
  <div class="row">
    <div class="col-md-5">
      <table class="table table-striped table-bordered table-responsive-xl">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Ranger District</th>
            <th scope="col">Roads</th>
            <th scope="col">Trails</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let district of altCTotals.districts | keyvalue">
            <th>{{district.key}}</th>
            <td>{{district.value.totalRoads}}</td>
            <td>{{district.value.totalTrails}}</td>
            <td>{{district.value.totalMiles}}</td>
          </tr>
          <tr>
            <th>All Districts</th>
            <td>{{altCTotals.openRoads}}</td>
            <td>{{altCTotals.openTrails}}</td>
            <td>{{altCTotals.openMiles}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <h3>Alternatives Total Routes Open/Closed</h3>
  </div>
  <div class="row">
    <div class="col-md-5">
      <table class="table table-striped table-bordered table-responsive-xl">
        <thead class="thead-dark">
          <tr>
            <th></th>
            <th scope="col">Alt A</th>
            <th scope="col">Alt B</th>
            <th scope="col">Alt C</th>
            <th scope="col">Alt D</th>
            <th scope="col">Alt E</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Open Miles</th>
            <td>{{altATotals.openMiles}}</td>
            <td>{{altBTotals.openMiles}}</td>
            <td>{{altCTotals.openMiles}}</td>
            <td>{{altDTotals.openMiles}}</td>
            <td>{{altETotals.openMiles}}</td>
          </tr>
          <tr>
            <th>Closed Miles</th>
            <td>{{altATotals.closedMiles}}</td>
            <td>{{altBTotals.closedMiles}}</td>
            <td>{{altCTotals.closedMiles}}</td>
            <td>{{altDTotals.closedMiles}}</td>
            <td>{{altETotals.closedMiles}}</td>
          </tr>
          <tr>
            <th>Total Miles</th>
            <td>{{altATotals.totalMiles}}</td>
            <td>{{altBTotals.totalMiles}}</td>
            <td>{{altCTotals.totalMiles}}</td>
            <td>{{altDTotals.totalMiles}}</td>
            <td>{{altETotals.totalMiles}}</td>
          </tr>
          <tr>
            <th>Percentage Open</th>
            <td>{{altATotals.percentageOpen}}</td>
            <td>{{altBTotals.percentageOpen}}</td>
            <td>{{altCTotals.percentageOpen}}</td>
            <td>{{altDTotals.percentageOpen}}</td>
            <td>{{altETotals.percentageOpen}}</td>
          </tr>
          <tr>
            <th>Percentage Closed</th>
            <td>{{altATotals.percentageClosed}}</td>
            <td>{{altBTotals.percentageClosed}}</td>
            <td>{{altCTotals.percentageClosed}}</td>
            <td>{{altDTotals.percentageClosed}}</td>
            <td>{{altETotals.percentageClosed}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <h3>New Routes Closed by Alternative (currently open)</h3>
  </div>
  <div class="row">
    <div class="col-md-5">
      <table class="table table-striped table-bordered table-responsive-xl">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Total Closures (New miles closed)</th>
            <th scope="col">Alt B</th>
            <th scope="col">Alt C</th>
            <th scope="col">Alt D</th>
            <th scope="col">Alt E</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th></th>
            <td>{{altBClosures.closedMiles}}</td>
            <td>{{altCClosures.closedMiles}}</td>
            <td>{{altDClosures.closedMiles}}</td>
            <td>{{altEClosures.closedMiles}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <table class="table table-striped table-bordered table-responsive-xl">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Ranger Districts (New miles closed)</th>
            <th scope="col">Alt B</th>
            <th scope="col">Alt C</th>
            <th scope="col">Alt D</th>
            <th scope="col">Alt E</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let district of districtClosures | keyvalue">
            <th>{{district.key}}</th>
            <td>{{district.value.B}}</td>
            <td>{{district.value.C}}</td>
            <td>{{district.value.D}}</td>
            <td>{{district.value.E}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <table class="table table-striped table-bordered table-responsive-xl">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Counties (New miles closed)</th>
            <th scope="col">Alt B</th>
            <th scope="col">Alt C</th>
            <th scope="col">Alt D</th>
            <th scope="col">Alt E</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let county of countyClosures | keyvalue">
            <th>{{county.key}}</th>
            <td>{{county.value.B}}</td>
            <td>{{county.value.C}}</td>
            <td>{{county.value.D}}</td>
            <td>{{county.value.E}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
