<!-- Navigation -->
<nav class="navbar navbar-expand-sm navbar-light bg-info static-top">
  <div class="container">
    <a class="navbar-brand" href="/routes">{{title}}</a>
    <button (click)="toggleNavbar()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a  class="nav-link" [routerLink]="['/summary']" routerLinkActive="active">Summary</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/routes']" routerLinkActive="active">Routes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/preferred']" routerLinkActive="active">Alt C Detail</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/resources']" routerLinkActive="active">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<router-outlet></router-outlet>
